<div ng-include src="'/views/top-bar.html'"></div>

<div ng-controller="FeedController">
    <div class="row">
        <div class="large-offset-1 large-10 columns">
            <h1>
                {{ subscription.title }}
                <span class="pull-right label round">{{ subscription.unread.length }}</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-offset-1 large-10 columns">
            <!-- List of feed articles -->
            <table class="feed-table-list">
                <tbody>
                    <tr ng-repeat="article in articles">
                        <td>
                            <a href="#/feed/{{ subscription.title | slugify }}/{{ article.title | slugify }}" ng-click="read(article)">
                                {{ article.title }}
                            </a>
                        </td>
                        <td>
                            <span ng-show="article.unread" ng-click="read(article)"><i class="typcn typcn-big typcn-eye-outline"></i></span>
                            <span ng-hide="article.unread" ng-click="unread(article)"><i class="typcn typcn-big typcn-eye"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>