<div ng-controller="SubscriptionsController">
    <div class="row">

        <div class="large-offset-1 large-10 columns">
            <!-- List of existing subscriptions -->
            <div class="row">
                <h1>Your subscriptions</h1>
                <table class="feed-table-list">
                    <tbody>
                        <tr ng-repeat="subscription in subscriptions">
                            <td>
                                <a href="#/feed/{{ subscription.title | slugify }}">
                                    {{ subscription.title }}
                                    <span class="label round pull-right">{{ subscription.unread.length }}</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Add a new subscription form -->
            <div class="row">
                <form ng-submit="add()">
                    <fieldset>
                        <legend>Want to add a new feed?</legend>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input type="text" placeholder="Feed URL" ng-model="xmlUrl" class="small-10 columns" />
                            </div>
                            <div class="small-3 columns">
                                <button type="submit" class="button postfix">Add!</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>