<div ng-controller="SubscriptionsController">
    <div class="row">

        <div class="large-offset-1 large-10 columns">
            <!-- List of existing subscriptions -->
            <div class="row">
                <h1>
                    Your subscriptions
                    <small ng-show="subscriptions.length == 0">You have none yet :-(</small>
                </h1>
                <table class="feed-table-list" ng-show="subscriptions.length > 0">
                    <tbody>
                        <tr ng-repeat="subscription in subscriptions">
                            <td>
                                <a href="#/feed/{{ subscription.title | slugify }}">
                                    {{ subscription.title }}
                                </a>
                            </td>
                            <td>
                                <span class="label round">{{ subscription.unread.length }}</span>
                            </td>
                            <td>
                                <a href="" ng-click="delete(subscription)"><i class="typcn typcn-big typcn-cancel"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Add a new subscription form -->
            <div class="row">
                <form ng-submit="add()">
                    <fieldset>
                        <legend>Want to add a new feed?</legend>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input type="text" placeholder="Feed URL" ng-model="xmlUrl" class="small-10 columns" />
                            </div>
                            <div class="small-3 columns">
                                <button type="submit" class="button postfix">Add!</button>
                            </div>
                        </div>
                         <p> … or you can <a href="#/import-opml">import an OPML file</a>.</p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>